/* ---------------Responsive code--------------- */

/* ------------------for ultra wide (4K & beyond) monitors------------- */
@media screen and (min-width: 2000px) {
    #mainContainer {
        width: 60%;
    }

    .passwordStrengthSec {
        width: 90%;
    }
}


/* ------------------for normal wide monitors------------- */

@media screen and (max-width: 1300px) {
    html {
        font-size: 15px;
    }

    #mainContainer {
        width: 95%;
    }

    .passwordCoreSection {
        padding: 25px 15px;
    }

    #slider {
        width: 160px;
    }

    .passwordStrengthSec {
        width: 90%;
        margin: 2px auto;
    }

    #characterText {
        margin-right: 15%;
    }

    label {
        margin-right: 12px;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }

    .commonPasswordSection {
        padding: 20px 5px;
    }
}


/* ------------------for tablets------------- */

@media screen and (max-width: 1000px) {
    #header {
        padding: 10px 15px;
    }

    #header>h1 {
        font-size: 2.2rem;
        margin-bottom: 15px;
    }

    #header p {
        font-size: 1rem;
        line-height: 1.8;
    }

    #mainContainer {
        flex-direction: column-reverse;
        padding: 15px 0px;
    }

    .passwordImgSection {
        width: 60%;
        margin: 10px auto;
    }

    .passwordCoreSection {
        width: 100%;
        padding: 20px 0px;
    }

    .commonPasswordSection {
        flex-direction: column;
        padding: 4px 0px;
        margin: 5px 0;
        font-size: 1.25rem;
    }

    #passwordText {
        width: 50%;
        margin-right: 0;
        margin-bottom: 15px;
        font-size: 1.0rem;
        height: auto;
    }

    .commonBtn {
        width: 70px;
    }

    #copyBtn {
        width: 100px;
    }

    #passwordLengthText {
        width: auto;
        margin-top: 15px;
    }

    .passwordSliderSec {
        margin: 30px auto;
    }

    #slider {
        width: 400px;
    }

    .sliderBtn {
        margin: 0px 7px;
        width: 40px;
        height: 40px;
        font-size: var(--slider-btn-fontSize);
    }

    .sliderDiv {
        margin: 18px 0;
        width: 100%;
        text-align: center;
    }

    #characterText {
        margin-right: 0%;
        margin-bottom: 25px;
    }

    .passwordStrengthSec {
        width: 70%;
        font-size: 1.35rem;
        margin: 10px auto;
        padding: 10px 0;
    }

    label {
        font-size: 1rem;
        margin-right: 35px;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    .checkboxDiv {
        margin-bottom: 15px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* popUp responsive code */

    #popUp {
        width: 80%;
        padding: 20px;
    }

    .popUpTextSection {
        padding: 15px;
    }

    .popUpTextSection>h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    .popUpTextSection li {
        font-size: 1rem;
    }

    #crossBtn>img {
        width: 35px;
        height: 35px;
    }

    .clipboardImage {
        margin-top: 25%;
        width: 180px;
    }

}


/* ------------------for mobiles------------- */

@media screen and (max-width: 600px) {

    #header>h1 {
        font-size: 2rem;
    }

    #mainContainer {
        padding: 25px 0px;
    }

    .passwordImgSection {
        width: 100%;
    }

    .commonPasswordSection {
        font-size: 1.05rem;
    }

    #passwordText {
        width: 95%;
    }

    #slider {
        width: 60%;
    }

    .passwordStrengthSec {
        width: 90%;
        font-size: 1.20rem;
    }

    label {
        margin-right: 20px;
    }

    /* popUp responsive code */

    #popUp {
        width: 90%;
        flex-direction: column;
    }

    .popUpTextSection {
        margin-top: 40px;
    }

    .popUpTextSection>h2 {
        margin-bottom: 20px;
    }

    .popUpImageSection {
        display: flex;
        justify-content: center;
    }

    .clipboardImage {
        margin-top: 0%;
        width: 120px;
    }

}